<mat-sidenav-container>
  <mat-sidenav #inventoryDrawer mode="side">
    <mat-list>
      <mat-list-item><strong>Coin Inventory</strong></mat-list-item>
      <div *ngFor="let coin of coins;">
        <mat-list-item>{{coin.name}}: {{inventory[coin.name]}}</mat-list-item>
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-card>
    <mat-card-title>Time for Change!</mat-card-title>
    <form (submit)="getChange(amount.value)">
        <mat-slide-toggle (change)="changeCoinMethod(inventoryDrawer)" #cMethod>Unlimited Coins</mat-slide-toggle>&nbsp;
        <mat-slide-toggle *ngIf="coinMethod=='limitedInv'" (change)="inventoryDrawer.toggle()">Show Inventory</mat-slide-toggle>
        <mat-form-field>
          <input matInput name="amount" type="number" placeholder="Enter Amount (pence)" #amount required>
        </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Receive Change</button>
      <button mat-button color="primary" (click)="reset(cMethod)" type="button">Reset</button>
    </form>
    <mat-list *ngIf="!error.status; else errorBlock">
      <div *ngFor="let coin of coins;">
        <mat-list-item *ngIf="coin.returned > 0;">{{coin.name}}: {{coin.returned}}</mat-list-item>
      </div>
    </mat-list>
    <ng-template #errorBlock>
      <p>{{error.message}}</p>
    </ng-template>
  </mat-card>
</mat-sidenav-container>